body {
  animation: fade-in 0.5s forwards;
  
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


.cont {
  transform: translate(-50%, 50%);
  /* border: 10px solid #fff; */
}
.whichcar-landing-template {
  animation: slide-in-up 1s forwards;
}

.image-cont {
  animation: slide 12s infinite;
}

/* .but:hover {
  background-color: aliceblue;
  color: blue;
} */

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateX(-100%);
  }
  66% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.whichcar-landing-template-main {
  animation: slide-in-side 2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
#btn:hover{
  color: blue;
  background-color: white;
  transform: scale(1.09);
  transition: 0.2s all linear;
  box-shadow: black 2px 2px 13px;
}

/* ======= For choose.html ======= */
#carList {
    max-height: 220px;
    overflow-y: auto;
}

.carLink {
    width: 100%;
    padding: 10px;
    display: block;
}

.suggestions {
  display: none;
}
/* ======= For choose.html ======= */
/* ===========new idea========== */
.salesman{
  height: 39em;
  position: relative;
  left: -35em;
}
.ad1{
  position: relative;
  top: -55rem;
  left: 36rem;
  font-size: 6rem;
  color: white;
  font-weight: bold;
}
.ad2 p{
  position: relative;
  top: -10em;
  left:45rem;
  font-size: 5rem;
  color: white;
  font-weight: bold;
}
.ad2 img{
  position: absolute;
  top: 5em;
  left: 45rem;
}